




.individual_todoItem{
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid blue;
    padding: 0 1rem;
    margin-bottom: 10px;
}
.individual_todoItem button{
    height: 1.5rem;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;

}
.individual_todoItem p{
    /* background-color: gray */
    color: gray;
    font-size: 1.2rem;
    padding: 6px 10px;
}